.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 99999;
  height: 100vh;
}
.preloadImage{
width: 450px;
height: 450px;
}
.spinner {
  margin: auto;
  width: 40px;
  height: 40px;
  position: relative;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #a40000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loadingtext{
  position: relative;
  top: 60px;
  font-size: 20px;
}
