

<div class="container imageholder" *ngIf="!isSignedIn">
<span *ngIf="showTheErrorMessage" class="showFormErrorMessage">{{showTheErrorMessage}}</span>

  <img  class="mainlogo" src="../assets/images/mainlogo.png" />

  <p class="welcometext">Welcome to ECAS</p>

</div>



<div class="container mainoutdiv" *ngIf="!isSignedIn">

  <h2 class="signuptext">Sign up</h2>

  <input class="form-control inputfields" type="text" #username placeholder="Your name"/>
  <input class="form-control inputfields" type="email" #emailSignup placeholder="Email address"/>
  <input class="form-control inputfields" type="password" #passwordSignup placeholder="Password"/>
  <input class="form-control inputfields" type="password" #reenterpasswordSignup placeholder="Re enter Password"/>

  <input  class="form-control inputfields" type="text" #nicnumber placeholder="NIC number"/>

  <select class="form-select inputfields" aria-label="Default select example" #policestation>
    <option selected>Select your police station</option>
    <option value="Nittambuwa">Nittambuwa</option>
    <option value="Marawila">Marawila</option>
    <option value="Kurunegala">Kurunegala</option>
  </select>


  <button ty class="btn btn-success" (click)="getuserdata(emailSignup.value,username.value,nicnumber.value,passwordSignup.value,reenterpasswordSignup.value,policestation.value)"
  (click)="OnSighUp(emailSignup.value ,passwordSignup.value )"
  >Register</button>

  <!-- (click)="OnSighUp(emailSignup.value,username.value,nicnumber.value,passwordSignup.value,reenterpasswordSignup.value,policestation.value)" -->

  <div class="container" *ngIf="!isSignedIn">
    <h2 class="signuptext">Sign In</h2>
    <input class="form-control inputfields" type="email" #email placeholder="Email address"/>
    <input class="form-control inputfields" type="text" #password placeholder="Password">
    <button (click)="Onsignin(email.value, password.value)" class="btn btn-info">Sign in</button>

  </div>




</div>



<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()" ></app-home>
