.mainoutdiv{
     position: relative;
     float: right;
     background-color: rgb(215, 0, 0);
     display: flex;
     flex-direction: column;
     width: 450px;
     height: 100vh;
     padding: 15px;

}
.inputfields{
   margin-bottom: 23px;
}
.signuptext{
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}
.imageholder{

  position: relative;
  float: left;
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.mainlogo{
  position: relative;
  max-width: 650px;
  height: 650px;


}
.welcometext{
  text-align: center;
  color:rgb(215, 0, 0) ;
 font-size:48px;
 font-weight: bold;
}
