<div class="container mainoutdiv" *ngIf="!isSignedIn">

  <h2 class="signuptext">Sign up</h2>
  <input class="form-control inputfields" type="text" #username placeholder="Username"/>
  <input class="form-control inputfields" type="email" #emailSignup placeholder="Email address"/>
  <input class="form-control inputfields" type="text" #passwordSignup placeholder="Password"/>

  <input  class="form-control inputfields" type="text" #nicnumber placeholder="NIC number"/>
  <button class="btn btn-success" (click)="OnsignUp(emailSignup.value, passwordSignup.value)" (click)="getuserdata(emailSignup.value,username.value,nicnumber.value)"  >Register</button>


  <div class="container" *ngIf="!isSignedIn">
    <h2 class="signuptext">Sign In</h2>
    <input class="form-control inputfields" type="text" #email placeholder="Email address"/>
    <input class="form-control inputfields" type="text" #password placeholder="Password">
    <button (click)="Onsignin(email.value, password.value)" class="btn btn-info">Sign in</button>

  </div>



</div>


<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
