.outerdiv
{
  width: 70%;
  margin-top: 90px;
   position: relative;
}
.memberholder{
  background-color: rgba(255, 0, 0, 0.314);

  width: 100%;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;

}
.memberholder img{
  width: 100px;
  height: 100px;
  margin-top: 26px;
  margin-left: 15px;
}
.infoholder{
 padding: 10px;
  margin-left: 25px;
}
.infotext{
  color: black;
  font-size: 20px;
}
.officerprofileimage{
  border-radius: 50%;
}
.headingdiv{
  width: 70%;
  margin-top: 25px;
}
.numberofofficer{
  color: red;


}
.gotochatpage{
  text-decoration: none;
}
.messageImage{
  padding: 10px;
  position: absolute;
  right: 90px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.messageImage:hover{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.579);
}
