<div class="container outerdiv">
         <div class="memberholder">
          <img src="../../assets/images/customer_driver_prfile.png" alt="">
          <div class="infoholder">
            <p class="infotext">Member name     : Mithila dilshan</p>
            <p class="infotext">Phone number    : 077 2006589</p>
            <p class="infotext">Description     : Mithila dilshan</p>

          </div>
         </div>


         <div class="memberholder">
          <img src="../../assets/images/customer_driver_prfile.png" alt="">
          <div class="infoholder">
            <p class="infotext">Member name     : Mithila dilshan</p>
            <p class="infotext">Phone number    : 077 2006589</p>
            <p class="infotext">Description     : Amaila dilshan</p>


          </div>
         </div>


         <div class="memberholder">
          <img src="../../assets/images/customer_driver_prfile.png" alt="">
          <div class="infoholder">
            <p class="infotext">Member name     : Mithila dilshan</p>
            <p class="infotext">Phone number    : 077 2006589</p>
            <p class="infotext">Description     : Mithila dilshan</p>

          </div>
         </div>


</div>

