

<app-preloader *ngIf="isLoading"></app-preloader>
<div *ngIf="!isLoading">

<div class="container headingdiv">
  <h5 class="maintitle">All officers  <span class="numberofofficer">{{drivers.length }}</span> </h5>

</div>




<div class="container outerdiv" >
  <p>These are the  officers at your police station </p>

  <input [(ngModel)]="searchTerm" type="text" placeholder="Search officer by name, NIC, policeID" (input)="filterOfficers()" class="form-control">
 <div    [ngClass]="{'hide-element': searchTerm.trim() === ''}">
  <div *ngFor="let drivers of filteredOfficers"  >

    <div class="serachmemberholder">
      <img [src]="drivers.profileImageUrl" (error)="drivers.profileImageUrl='../../assets/images/customer_driver_prfile.png'" class="officerprofileimage">

    <div class="infoholder">
    <p class="infotext"><b>Police ID </b>    :{{ drivers.policeID }}</p>
    <p class="infotext"><b>NIC number </b>     :{{ drivers.NICnumber }}</p>
    <p class="infotext"><b>Officer name </b>     : {{ drivers.name }}</p>
    <p class="infotext"><b>Phone number </b>    : {{ drivers.phone }}</p>
    <p class="infotext"><b>Description  </b>    :{{ drivers.car }}</p>
    <p class="infotext"><b>Status  </b>     :{{ drivers.status }}</p>

    <button class="btn btn-success" (click)="giveThePermission(drivers.officerDataPath)">This is my officer</button>
    <button class="btn btn-danger removeOfficer" (click)="removeOfficer(drivers.officerDataPath)">Remove this officer</button>
    
  </div>



</div>
<hr>
  </div>

  </div>
  <div *ngIf="checkTheUserAvaiableSearch"  [ngClass]="{'hide-element': searchTerm.trim() === ''}" class="showNoDataSearchError">
    <p>No data matching for <b>'{{searchTerm}}'</b></p>
  </div>



 <!-- show the filltering data -->


  <h1 *ngIf="chekingData">No data</h1>
         <div class="memberholder" *ngFor="let driver of drivers" >

          <img [src]="driver.profileImageUrl" (error)="driver.profileImageUrl='../../assets/images/customer_driver_prfile.png'" class="officerprofileimage">

          <div class="infoholder">
            <p class="infotext"><b>Police ID </b>      : {{ driver.policeID ? driver.policeID:'Not registered yet' }} </p>
            <p class="infotext"><b>NIC number </b>     : {{ driver.NICnumber ? driver.NICnumber:'Not registered yet' }}</p>
            <p class="infotext"><b>Officer name </b>   : {{ driver.name ?driver.name:'No '}} officer</p>
            <p class="infotext"><b>Phone number </b>   : {{ driver.phone ? driver.phone:'Not registered yet' }}</p>
            <p class="infotext"><b>Description  </b>   : {{ driver.car ?driver.car:'Not registered yet'}}</p>
            <p class="infotext"><b>Status  </b>   : {{ driver.status ?driver.status:'Not registered yet'}}</p>

            <button class="btn btn-success" (click)="giveThePermission(driver.officerDataPath)">This is my officer</button>
            <button class="btn btn-danger removeOfficer" (click)="removeOfficer(driver.officerDataPath)">Remove this officer</button>

          </div>

         </div>


</div>

</div>
