
<!-- <button (click)="Logout()">Log out</button> -->
<div class="menu" [ngClass]="{'open': isOpen}">


<div class="linksholder">
  <a routerLink="/dashboard"  class="routerlinks">DashBoard</a>
</div>
<div class="linksholder" >
  <a routerLink="/members" class="routerlinks">Complains</a>
</div>

<div class="linksholder" >
  <a routerLink="/allmembers" class="routerlinks">All members</a>
</div>

<div class="linksholder" >
  <a  (click)="Logout()" class="routerlinks">Log out</a>
</div>




</div>

<button (click)="toggleMenu()" class="toggle-button">
  <span></span>
  <span></span>
  <span></span>
</button>

<router-outlet></router-outlet>
